1_2/1_2/FormWCFconfig/FormWCF/Connected Services/ServiceReference2/WCFtoDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFtoDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFtoDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="SNP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idClient" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idClient" type="xs:int" />
      <xs:element minOccurs="0" name="idOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>